tt,code,kbd,samp,pre {
    font-family: "DejaVu Sans Mono", Menlo, Consolas, "Droid Sans Mono",'source-code-pro',monospace;
}

p code,li code {
    padding: 0 5px;
    margin: 0 2px;
    white-space: nowrap;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

pre {
    white-space: pre;
    overflow-x: auto;
    page-break-inside: avoid;
    background-color: #fdf6e3;
    border: 15px solid #f5f5f5;
    border-radius: 20px;
}

.highlight {
    margin-bottom: 1.5em;
    color: #586e75;
    /*border: 1px solid #dedede;*/
    /*border-radius: 3px;*/
}

.highlight pre {
    position: relative;
    padding: 1em;
    margin: 0;
}
/* Solarized Light

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight {

    .c     { color: #93a1a1; font-style: italic } // Comment
    .err   { color: #586e75; background-color: #e3d2d2 } // Error
    .k     { color: #859900; font-weight: bold } // Keyword
    .o     { color: #859900; font-weight: bold } // Operator
    .cm    { color: #93a1a1; font-style: italic } // Comment.Multiline
    .cp    { color: #859900; font-weight: bold } // Comment.Preproc
    .c1    { color: #93a1a1; font-style: italic } // Comment.Single
    .cs    { color: #859900; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #2aa198; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #2aa198; background-color: #faa } // Generic.Deleted.Specific
    .ge    { color: #586e75; font-style: italic } // Generic.Emph
    .gr    { color: #dc322f } // Generic.Error
    .gh    { color: #cb4b16 } // Generic.Heading
    .gi    { color: #859900; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #859900; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #586e75 } // Generic.Output
    .gp    { color: #586e75 } // Generic.Prompt
    .gs    { color: #586e75; font-weight: bold } // Generic.Strong
    .gu    { color: #cb4b16 } // Generic.Subheading
    .gt    { color: #586e75 } // Generic.Traceback
    .kc    { color: #cb4b16; font-weight: bold } // Keyword.Constant
    .kd    { color: #268bd2; font-weight: bold } // Keyword.Declaration
    .kp    { color: #859900; font-weight: bold } // Keyword.Pseudo
    .kr    { color: #268bd2; font-weight: bold } // Keyword.Reserved
    .kt    { color: #dc322f; font-weight: bold } // Keyword.Type
    .m     { color: #2aa198 } // Literal.Number
    .s     { color: #2aa198 } // Literal.String
    .na    { color: #586e75 } // Name.Attribute
    .nb    { color: #B58900 } // Name.Builtin
    .nc    { color: #268bd2; font-weight: bold } // Name.Class
    .no    { color: #cb4b16 } // Name.Constant
    .ni    { color: #cb4b16 } // Name.Entity
    .ne    { color: #cb4b16; font-weight: bold } // Name.Exception
    .nf    { color: #268bd2; font-weight: bold } // Name.Function
    .nn    { color: #586e75 } // Name.Namespace
    .nt    { color: #268bd2 } // Name.Tag
    .nv    { color: #268bd2 } // Name.Variable
    .ow    { color: #859900; font-weight: bold } // Operator.Word
    .w     { color: #586e75 } // Text.Whitespace
    .mf    { color: #2aa198 } // Literal.Number.Float
    .mh    { color: #2aa198 } // Literal.Number.Hex
    .mi    { color: #2aa198 } // Literal.Number.Integer
    .mo    { color: #2aa198 } // Literal.Number.Oct
    .sb    { color: #93a1a1 } // Literal.String.Backtick
    .sc    { color: #2aa198 } // Literal.String.Char
    .sd    { color: #586e75 } // Literal.String.Doc
    .s2    { color: #2aa198 } // Literal.String.Double
    .se    { color: #cb4b16 } // Literal.String.Escape
    .sh    { color: #586e75 } // Literal.String.Heredoc
    .si    { color: #2aa198 } // Literal.String.Interpol
    .sx    { color: #2aa198 } // Literal.String.Other
    .sr    { color: #dc322f } // Literal.String.Regex
    .s1    { color: #2aa198 } // Literal.String.Single
    .ss    { color: #2aa198 } // Literal.String.Symbol
    .bp    { color: #268bd2 } // Name.Builtin.Pseudo
    .vc    { color: #268bd2 } // Name.Variable.Class
    .vg    { color: #268bd2 } // Name.Variable.Global
    .vi    { color: #268bd2 } // Name.Variable.Instance
    .il    { color: #2aa198 } // Literal.Number.Integer.Long
}
.CodeRay {
    margin-bottom: 1.5em;
    font-family: "DejaVu Sans Mono", Menlo, Consolas, "Droid Sans Mono",'source-code-pro',monospace;
    font-size: 12px;
    font-size: .75rem;
    line-height: 2;
    color: #333332;
    border: 1px solid #dedede;
}

.CodeRay code {
    padding: 1em;
    margin: 0;
}

span.CodeRay {
    padding: 2px;
    white-space: pre;
    border: 0;
}

table.CodeRay {
    width: 100%;
    padding: 2px;
    border-collapse: collapse;
}

table.CodeRay td {
    padding: 1em .5em;
    vertical-align: top;
}

.CodeRay .line-numbers,.CodeRay .no {
    color: #AAA;
    text-align: right;
}

.CodeRay .line-numbers a {
    color: #AAA;
}

.CodeRay .line-numbers tt {
    font-weight: bold;
}

.CodeRay .line-numbers .highlighted {
    color: #f00;
}

.CodeRay .line {
    display: block;
    float: left;
    width: 100%;
}

.CodeRay span.line-numbers {
    padding: 0 24px 0 4px;
}

.CodeRay .code {
    width: 100%;
}

ol.CodeRay {
    font-size: 10pt;
}

ol.CodeRay li {
    white-space: pre;
}

.CodeRay .code pre {
    overflow: auto;
}

.CodeRay .debug {
    color: white!important;
    background: blue!important;
}

.CodeRay .annotation {
    color: #007;
}

.CodeRay .attribute-name {
    color: #f08;
}

.CodeRay .attribute-value {
    color: #700;
}

.CodeRay .binary {
    font-weight: bold;
    color: #509;
}

.CodeRay .comment {
    font-style: italic;
    color: #998;
}

.CodeRay .char {
    color: #04d;
}

.CodeRay .char .content {
    color: #04d;
}

.CodeRay .char .delimiter {
    color: #039;
}

.CodeRay .class {
    font-weight: bold;
    color: #458;
}

.CodeRay .complex {
    font-weight: bold;
    color: #A08;
}

.CodeRay .constant {
    color: teal;
}

.CodeRay .color {
    color: #0a0;
}

.CodeRay .class-variable {
    color: #369;
}

.CodeRay .decorator {
    color: #B0B;
}

.CodeRay .definition {
    font-weight: bold;
    color: #099;
}

.CodeRay .directive {
    font-weight: bold;
    color: #088;
}

.CodeRay .delimiter {
    color: #000;
}

.CodeRay .doc {
    color: #970;
}

.CodeRay .doctype {
    color: #34b;
}

.CodeRay .doc-string {
    font-weight: bold;
    color: #D42;
}

.CodeRay .escape {
    font-weight: bold;
    color: #666;
}

.CodeRay .entity {
    font-weight: bold;
    color: #800;
}

.CodeRay .error {
    color: #F00;
    background-color: #faa;
}

.CodeRay .exception {
    font-weight: bold;
    color: #C00;
}

.CodeRay .filename {
    color: #099;
}

.CodeRay .function {
    font-weight: bold;
    color: #900;
}

.CodeRay .global-variable {
    font-weight: bold;
    color: teal;
}

.CodeRay .hex {
    font-weight: bold;
    color: #058;
}

.CodeRay .integer {
    color: #099;
}

.CodeRay .include {
    font-weight: bold;
    color: #B44;
}

.CodeRay .inline {
    color: #000;
}

.CodeRay .inline .inline {
    background: #ccc;
}

.CodeRay .inline .inline .inline {
    background: #bbb;
}

.CodeRay .inline .inline-delimiter {
    color: #D14;
}

.CodeRay .inline-delimiter {
    color: #D14;
}

.CodeRay .important {
    color: #f00;
}

.CodeRay .interpreted {
    font-weight: bold;
    color: #B2B;
}

.CodeRay .instance-variable {
    color: #008080;
}

.CodeRay .label {
    font-weight: bold;
    color: #970;
}

.CodeRay .local-variable {
    color: #963;
}

.CodeRay .octal {
    font-weight: bold;
    color: #40E;
}

.CodeRay .predefined-constant {
    font-weight: bold;
}

.CodeRay .predefined {
    font-weight: bold;
    color: #369;
}

.CodeRay .preprocessor {
    color: #579;
}

.CodeRay .pseudo-class {
    font-weight: bold;
    color: #00C;
}

.CodeRay .predefined-type {
    font-weight: bold;
    color: #074;
}

.CodeRay .reserved,.keyword {
    font-weight: bold;
    color: #000;
}

.CodeRay .key {
    color: #808;
}

.CodeRay .key .delimiter {
    color: #606;
}

.CodeRay .key .char {
    color: #80f;
}

.CodeRay .value {
    color: #088;
}

.CodeRay .regexp {
    background-color: #fff0ff;
}

.CodeRay .regexp .content {
    color: #808;
}

.CodeRay .regexp .delimiter {
    color: #404;
}

.CodeRay .regexp .modifier {
    color: #c2c;
}

.CodeRay .regexp .function {
    font-weight: bold;
    color: #404;
}

.CodeRay .string {
    color: #D20;
}

.CodeRay .string .string .string {
    background-color: #ffd0d0;
}

.CodeRay .string .content {
    color: #D14;
}

.CodeRay .string .char {
    color: #D14;
}

.CodeRay .string .delimiter {
    color: #D14;
}

.CodeRay .shell {
    color: #d14;
}

.CodeRay .shell .delimiter {
    color: #d14;
}

.CodeRay .symbol {
    color: #990073;
}

.CodeRay .symbol .content {
    color: #a60;
}

.CodeRay .symbol .delimiter {
    color: #630;
}

.CodeRay .tag {
    color: #070;
}

.CodeRay .tag-special {
    font-weight: bold;
    color: #D70;
}

.CodeRay .type {
    font-weight: bold;
    color: #339;
}

.CodeRay .variable {
    color: #036;
}

.CodeRay .insert {
    background: #afa;
}

.CodeRay .delete {
    background: #faa;
}

.CodeRay .change {
    color: #aaf;
    background: #007;
}

.CodeRay .head {
    color: #f8f;
    background: #505;
}

.CodeRay .insert .insert {
    font-weight: bold;
    color: #080;
}

.CodeRay .delete .delete {
    font-weight: bold;
    color: #800;
}

.CodeRay .change .change {
    color: #66f;
}

.CodeRay .head .head {
    color: #f4f;
}
